<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
</head>

<body>
    <div class="container" style="text-align: center;">
        {% include 'navbar.html' %}
        <h1>The services that we provide</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis dolorem neque accusantium ipsum
            cupiditate at quasi ut commodi repellendus? Cum ex repudiandae perferendis culpa facilis minima at pariatur
            quibusdam, vero inventore debitis sed harum laborum? Repellat rerum sit quae nostrum! Animi maxime
            temporibus unde beatae ratione quam dolorem eaque minima.</p>
            <button>contact us</button>
    </div>
</body>

</html>